<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en" xmlns="http://www.w3.org/1999/xhtml">


<div class="box">
    <div class="box-header">
        <h4 class="box-title">All Tags</h4>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example2_wrapper"
             class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example2"
                           class="table table-bordered table-hover dataTable" role="grid"
                           aria-describedby="example2_info">
                        <thead>
                        <tr role="row">

                            <th class="sorting" tabindex="0" aria-controls="example2"
                                rowspan="1" colspan="1"
                                aria-label="Browser: activate to sort column ascending">No
                            </th>

                            <th class="sorting" tabindex="0" aria-controls="example2"
                                rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">Tag
                                Name
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2"
                                rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">Allowed departments
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2"
                                rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">Opening
                                date
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2"
                                rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">Closure
                                Date
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2"
                                rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">Final
                                Closure Date
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2"
                                rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">Total Ideas
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2"
                                rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">Delete
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="tag,iterationStatus  : ${tags}">
                            <tr role="row" class="odd">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text=${tag.tagName}></td>
                                <td th:text=${tag.departments}></td>
                                <td
                                        th:text="${#dates.format(tag.openingDate, 'dd-MM-yyyy hh:mm:ss aaa')}"></td>
                                <td
                                        th:text="${#dates.format(tag.closingDate, 'dd-MM-yyyy hh:mm:ss aaa')}"></td>
                                <td
                                        th:text="${#dates.format(tag.finalClosingDate, 'dd-MM-yyyy hh:mm:ss aaa')}"></td>
                                
                                <td th:id="'total_ideas_'+${tag.tagId}" th:text="${totalIdeas[__${iterationStatus.index}__]}"></td>
                                <td th:id="'td_'+${tag.tagId}">
                                <a class="btn btn-block btn-default btn-sm" 
                                href="#" th:if="${totalIdeas[__${iterationStatus.index}__]}==0" th:id="'btn_'+${tag.tagId}"
                                       th:text="${'Delete'}"></a>
                                       
                                <script type="text/javascript" th:inline="javascript">
                                	var tagId = /*[[${tag.tagId}]]*/;
                                	var btnId = 't_'+tagId;
                                	setInterval(function(){
                                		tagId = /*[[${tag.tagId}]]*/;
                                		$.ajax({
                                			url: '/ewsd/qa_manager/tag-status/'+tagId,
                                			method:'GET',
                                			data: '',
                                			success:function(data){
                                				tagId = /*[[${tag.tagId}]]*/;
                                				$("#total_ideas_"+tagId).html(data);
                                				if(data>0){
                                					$("#td_"+tagId).html("");
                                					
                                				}
                                			}
                                		});
                                	}, 1000);
                                	$("#btn_"+tagId).click(function(btn){
                                		var tagId = /*[[${tag.tagId}]]*/;
                                		$.ajax({
                                			url:'/ewsd/qa_manager/delete-tag/'+tagId,
                                			method:'GET',
                                			data:'',
                                			success:function(data){
                                				location.reload();
                                			}
                                		});
                                	});
                                </script>       
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
