<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--/*/ <th:block th:include="@{includes/includes} :: head"></th:block> /*/-->
</head>

<body class="hold-transition login-page">

<div class="login-box">
<div class="login-box-body">
  <div class="login-logo">
  Reset Password
  <h3 class="login-box-msg">Please enter your email address.</h3>
  </div>
  <!-- /.login-logo -->
  
    

    <form th:action="@{/reset-password}" method="post">
				<div th:if="${error}" class="alert alert-danger">
					Invalid Email address.</div>
				<div th:if="${ok}" class="alert alert-success">You
					A password reset email was sent to your account.</div>

				<div class="form-group has-feedback">
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>


</body>






<!-- <body> -->
<!-- 	<header> -->
<!-- 		<div class="row"> -->
<!-- 			<div class="col-lg-12  col-md-12  col-sm-12 col-xs-12"> -->
<!-- 				/*/ <th:block th:include="templates/includes/header :: header(potentialTeachers='', username='')"></th:block> /*/ -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</header> -->
<!-- 	<div class="container container-fixed"> -->
<!-- 		<div class="text-center row"> -->
<!-- 			<div class="col-lg-12  col-md-12  col-sm-12 col-xs-12"> -->
<!-- 				<form class="form-signin" method="POST" -->
<!-- 					th:action="@{/login-processing}"> -->
<!-- 					<div th:if="${param.error}" class="alert alert-danger"> -->
<!-- 						Invalid username or password.</div> -->
<!-- 					<div th:if="${param.logout}" class="alert alert-success">You -->
<!-- 						have been logged out successfully.</div> -->
<!-- 					<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
<!-- 					<label for="inputEmail" class="sr-only">Email address</label> <input -->
<!-- 						type="email" name="email" id="inputEmail" class="form-control" -->
<!-- 						placeholder="Email address" required autofocus> <label -->
<!-- 						for="inputPassword" class="sr-only">Password</label> <input -->
<!-- 						type="password" name="password" id="inputPassword" -->
<!-- 						class="form-control" placeholder="Password" required> -->

<!-- 					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign -->
<!-- 						in</button> -->
<!-- 					<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
<!-- 				</form> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </body> -->
<!--/*/ <th:block th:include="@{includes/includes} :: js_components_bottom"></th:block> /*/-->
</html>