<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<li class="header">MAIN NAVIGATION</li>



<li class=" "><a th:href="@{/qa_coordinator/timeline}"> <i
		class="fa fa-dashboard"></i> <span>Home</span>
</a></li>
<li class="active"><a
	th:href="@{/qa_coordinator/ideas/my-department}"> <i
		class="fa fa-files-o"></i> <span>All Ideas</span>
</a></li>
<li><a
	th:href="@{/qa_coordinator/submit-issue}"> <i
		class="fa fa-files-o"></i> <span>Submit an issue</span>
</a></li>

</html>