<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<li>MAIN NAVIGATION</li>


<li><a th:href="@{/qa_manager/dashboard}"> <i
		class="fa fa-dashboard"></i> <span>Dashboard</span>
</a></li>
<li><a th:href="@{/qa_manager/manage-tags}"> <i
		class="fa fa-dashboard"></i> <span>Manage Category</span>
</a></li>
<li><a th:href="@{/qa_manager/download-backup-database}"> <i
		class="fa fa-dashboard"></i> <span>Download Backup File</span>
</a></li>

</html>