<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="templates/includes/components :: components"></th:block> /*/-->
    <!--/*/ <th:block th:include="templates/includes/header :: header('', ${username})"></th:block> /*/-->
    <link th:href="@{/resources/contents/css/signup.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Add video</title>
</head>
<body>
<form class="form-signin" method="POST" th:action="@{/albums/__${albumId}__/upload}"
      th:object="${screencast}" enctype="multipart/form-data">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Create screencast</h1>
        <p>Note: Max file size is 200MB</p>
    </div>
    <div th:if="${isNotUploaded}" class="alert alert-danger">
        Please select a file to upload.
    </div>
    <div class="form-label-group">
        <input type="text" id="inputScreencastName" th:field="*{name}" class="form-control"
               placeholder="Subject name" required autofocus>
        <label for="inputScreencastName">Screencast name</label>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputScreencastDescription" th:field="*{description}" class="form-control"
               placeholder="Description">
        <label for="inputScreencastDescription">Description</label>
    </div>

    <div class="form-label-group">
        <input type="file" id="file" name="file" class="form-control"
               placeholder="File" required>
        <label for="file">File</label>
    </div>

    <input type="hidden" name="uploadTime" th:value="${#dates.format(#dates.createNow(), 'dd-MM-yyyy HH:mm')}" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
</form>
</body>
</html>