<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<li>MAIN NAVIGATION</li>


<li><a th:href="@{/admin/manage-batch}"> <i
		class="fa fa-dashboard"></i> <span>Manage Batch</span>
</a></li>
<li><a th:href="@{/admin/manage-department}"> <i
		class="fa fa-dashboard"></i> <span>Manage Department</span>
</a></li>

<li><a th:href="@{/admin/set-terms-and-conditions}"> <i
		class="fa fa-th"></i> <span>Set Terms and Conditions</span>
</a></li>

</html>