<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">


	<div class="box">
		<div class="box-header">
			<h4 class="box-title">All Issues</h4>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div id="example2_wrapper"
				class="dataTables_wrapper form-inline dt-bootstrap">
				<div class="row">
					<div class="col-sm-6"></div>
					<div class="col-sm-6"></div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table id="example2"
							class="table table-bordered table-hover dataTable" role="grid"
							aria-describedby="example2_info">
							<thead>
								<tr role="row">

									<th class="sorting" tabindex="0" aria-controls="example2"
										rowspan="1" colspan="1"
										aria-label="Browser: activate to sort column ascending">No</th>

									<th class="sorting" tabindex="0" aria-controls="example2"
										rowspan="1" colspan="1"
										aria-label="Platform(s): activate to sort column ascending">Issue
										Name</th>
										
										<th class="sorting" tabindex="0" aria-controls="example2"
										rowspan="1" colspan="1"
										aria-label="Platform(s): activate to sort column ascending">Current status</th>

										<th class="sorting" tabindex="0" aria-controls="example2"
										rowspan="1" colspan="1"
										aria-label="Platform(s): activate to sort column ascending">Close</th>

										<th class="sorting" tabindex="0" aria-controls="example2"
										rowspan="1" colspan="1"
										aria-label="Platform(s): activate to sort column ascending">Solve</th>
									
								</tr>
							</thead>
							<tbody>
								<th:block th:each="issue,iterationStatus  : ${issues}">
									<tr role="row" class="odd">
										<td th:text="${iterationStatus.count}"></td>
										<td ><a th:href="@{${issue.issueUrl}}" th:text="${issue.issueName}"></a></td>
										<td th:text="${issue.issueStatus}"></td>
										<td ><a th:if="${issue.issueStatus!='Closed' && issue.issueStatus!='Solved'}" th:href="@{'/qa_manager/all-issues?issue_id='+${issue.issueId}+'&action_type=close'}"  th:text="${'Close'}"></a></td>
										<td><a th:if="${issue.issueStatus!='Closed' && issue.issueStatus!='Solved'}" th:href="@{'/qa_manager/all-issues?issue_id='+${issue.issueId}+'&action_type=solve'}"  th:text="${'Solve'}"></a></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>