<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="components">
    <link th:href="@{/resources/contents/css/responsive.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
    <script
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
</head>
</html>