<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<!--/*/ <th:block th:include="./components :: components"></th:block> /*/-->

<head>

</head>
<div th:fragment="header(potentialTeachers, username)">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a sec:authorize="isAnonymous()" class="navbar-brand" href="#" th:href="@{/}">Coaching</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <th:block  sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TEACHER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/dashboard}" >Dashboard</a>
                    </li>
                </th:block>

                <th:block  sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin/list-potential-teachers}">
                            Teacher requests
                            <span class="badge badge-pill bg-dark align-text-bottom"><th:block th:text="${potentialTeachers}"></th:block></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin/create-subject}">
                            Create subject
                        </a>
                    </li>
                </th:block>

                <th:block  sec:authorize="hasRole('ROLE_TEACHER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/teacher/create-album}">
                            Create album
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/teacher/my-albums}">
                            My albums
                        </a>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#" th:href="@{/upload}">-->
                            <!--Add screencast-->
                        <!--</a>-->
                    <!--</li>-->
                </th:block>

                <th:block  sec:authorize="hasRole('ROLE_STUDENT')">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/student/albums}">
                            View albums
                        </a>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#" th:href="@{/teacher/my-albums}">-->
                            <!--My albums-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#" th:href="@{/upload}">-->
                    <!--Add screencast-->
                    <!--</a>-->
                    <!--</li>-->
                </th:block>

            </ul>

            <ul sec:authorize="isAnonymous()" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/signup}">Register</a>
                </li>
            </ul>

            <div sec:authorize="isAuthenticated()" class="nav-link ml-auto dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${username}">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#" th:href="@{/logout}">Logout</a>
                </div>
            </div>

        </div>
    </nav>
</div>
</html>

