<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<!-- Start of /student/post-new-idea -->
<div class="tab-pane active" id="post-an-idea">
	<div class="row">
		<div class="col-xs-12 col-xl-12 col-md-12 col-lg-12 col-sm-12">
			<form method="post" enctype="multipart/form-data"
				action="/student/post-new-idea"
				th:action="@{/student/post-new-idea}" th:object="${idea}">
				<div th:if="${isOk=='true'}" class="alert alert-success"
					th:text="${msg}"></div>
				<div th:if="${isOk==''}" class="alert alert-success"
					th:text="${msg}"></div>


				<div class="form-group">
					<label for="inputIdeaTitle">Idea Title</label> <input type="text"
						name="ideaTitle" class="form-control" id="inputIdeaTitle"
						placeholder="Idea Title" th:field="*{ideaTitle}" required />
				</div>
				<div class="form-group">
					<label for="inputIdeaBody">Idea Body</label>
					<textarea id="inputIdeaBody" name="ideaBody" class="form-control"
						th:field="*{ideaBody}" placeholder="Idea Body" required></textarea>
				</div>

				<div class="form-group">
					<label>Categories</label> <select name="tagName"
						class="form-control select2" style="width: 100%;">
						<option th:each="cat : ${categories}" th:value="${cat.tagName}"
							th:text="${cat.tagName}"></option>
					</select>

				</div>

				<input type="hidden" name="publishingDateTime"
					th:value="${#dates.format(#dates.createNow(), 'dd-MM-yyyy HH:mm:ss')}" />

				<div class="form-group">
					<label for="images">Upload Documents: </label> <input type="file"
						id="images" name="images[]" multiple="multiple" />
				</div>
				<div class="row">
					<div
						class="form-group col-sm-2 col-lg-2 col-xl-2 col-md-2 col-xs-2">
						<a onclick="showTermsAndConditions();"
							class="btn btn-block btn-primary">Post</a>
					</div>
				</div>


				<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">Terms and
									Conditions</h4>
							</div>
							<div class="modal-body"></div>
							<div class="modal-footer">
								<a class="btn btn-default" data-dismiss="modal">Close</a> <input
									type="submit" class="btn btn-primary" value="Agree">
							</div>
						</div>
					</div>
				</div>


			</form>
		</div>
	</div>

</div>

<!-- End of /student/post-new-idea -->
</html>
