<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns="http://www.w3.org/1999/xhtml">

<!--/*/ <th:block th:include="@{includes/includes} :: head"></th:block> /*/-->

<header th:fragment="header" class="main-header">
	Logo <a th:href="@{index2.html}" class="logo"> mini logo for
		sidebar mini 50x50 pixels <span class="logo-mini"><b>A</b>LT</span>
		logo for regular state and mobile devices <span class="logo-lg"><b>Admin</b>LTE</span>
	</a> Header Navbar: style can be found in header.less
	<nav class="navbar navbar-static-top">
		Sidebar toggle button <a href="#" class="sidebar-toggle"
			data-toggle="push-menu" role="button"> <span class="sr-only">Toggle
				navigation</span>
		</a>

		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				Messages: style can be found in dropdown.less
				<li class="dropdown messages-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-envelope-o"></i> <span class="label label-success">4</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">You have 4 messages</li>
						<li>inner menu: contains the actual data
							<ul class="menu">
								<li>start message <a href="#">
										<div class="pull-left">
											<img th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
												class="img-circle" alt="User Image">
										</div>
										<h4>
											Support Team <small><i class="fa fa-clock-o"></i> 5
												mins</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a>
								</li> end message
								<li><a href="#">
										<div class="pull-left">
											<img th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
												class="img-circle" alt="User Image">
										</div>
										<h4>
											AdminLTE Design Team <small><i class="fa fa-clock-o"></i>
												2 hours</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a></li>
								<li><a href="#">
										<div class="pull-left">
											<img th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
												class="img-circle" alt="User Image">
										</div>
										<h4>
											Developers <small><i class="fa fa-clock-o"></i> Today</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a></li>
								<li><a href="#">
										<div class="pull-left">
											<img th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
												class="img-circle" alt="User Image">
										</div>
										<h4>
											Sales Department <small><i class="fa fa-clock-o"></i>
												Yesterday</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a></li>
								<li><a href="#">
										<div class="pull-left">
											<img th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
												class="img-circle" alt="User Image">
										</div>
										<h4>
											Reviewers <small><i class="fa fa-clock-o"></i> 2 days</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a></li>
							</ul>
						</li>
						<li class="footer"><a href="#">See All Messages</a></li>
					</ul></li> Notifications: style can be found in dropdown.less
				<li class="dropdown notifications-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-bell-o"></i> <span class="label label-warning">10</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">You have 10 notifications</li>
						<li>inner menu: contains the actual data
							<ul class="menu">
								<li><a href="#"> <i class="fa fa-users text-aqua"></i>
										5 new members joined today
								</a></li>
								<li><a href="#"> <i class="fa fa-warning text-yellow"></i>
										Very long description here that may not fit into the page and
										may cause design problems
								</a></li>
								<li><a href="#"> <i class="fa fa-users text-red"></i> 5
										new members joined
								</a></li>
								<li><a href="#"> <i
										class="fa fa-shopping-cart text-green"></i> 25 sales made
								</a></li>
								<li><a href="#"> <i class="fa fa-user text-red"></i>
										You changed your username
								</a></li>
							</ul>
						</li>
						<li class="footer"><a href="#">View all</a></li>
					</ul></li> Tasks: style can be found in dropdown.less
				<li class="dropdown tasks-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-flag-o"></i> <span class="label label-danger">9</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">You have 9 tasks</li>
						<li>inner menu: contains the actual data
							<ul class="menu">
								<li>Task item <a href="#">
										<h3>
											Design some buttons <small class="pull-right">20%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-aqua"
												style="width: 20%" role="progressbar" aria-valuenow="20"
												aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">20% Complete</span>
											</div>
										</div>
								</a>
								</li> end task item
								<li>Task item <a href="#">
										<h3>
											Create a nice theme <small class="pull-right">40%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-green"
												style="width: 40%" role="progressbar" aria-valuenow="20"
												aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">40% Complete</span>
											</div>
										</div>
								</a>
								</li> end task item
								<li>Task item <a href="#">
										<h3>
											Some task I need to do <small class="pull-right">60%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-red" style="width: 60%"
												role="progressbar" aria-valuenow="20" aria-valuemin="0"
												aria-valuemax="100">
												<span class="sr-only">60% Complete</span>
											</div>
										</div>
								</a>
								</li> end task item
								<li>Task item <a href="#">
										<h3>
											Make beautiful transitions <small class="pull-right">80%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-yellow"
												style="width: 80%" role="progressbar" aria-valuenow="20"
												aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">80% Complete</span>
											</div>
										</div>
								</a>
								</li> end task item
							</ul>
						</li>
						<li class="footer"><a href="#">View all tasks</a></li>
					</ul></li> User Account: style can be found in dropdown.less
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
						class="user-image" alt="User Image"> <span class="hidden-xs">Alexander
							Pierce</span>
				</a>
					<ul class="dropdown-menu">
						User image
						<li class="user-header"><img
							th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
							class="img-circle" alt="User Image">

							<p>
								Alexander Pierce - Web Developer <small>Member since
									Nov. 2012</small>
							</p></li> Menu Body
						<li class="user-body">
							<div class="row">
								<div class="col-xs-4 text-center">
									<a href="#">Followers</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Sales</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Friends</a>
								</div>
							</div> /.row
						</li> Menu Footer
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Profile</a>
							</div>
							<div class="pull-right">
								<a href="#" class="btn btn-default btn-flat">Sign out</a>
							</div>
						</li>
					</ul></li> Control Sidebar Toggle Button
				<li><a href="#" data-toggle="control-sidebar"><i
						class="fa fa-gears"></i></a></li>
			</ul>
		</div>
	</nav>
</header>




<!-- Start of createRole -->

<th:block th:fragment="createRole(isOk='', role='')">
	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">Create Role</h3>
		</div>
		<!-- /.box-header -->
		<!-- form start -->
		<form method="POST" th:action="@{/admin/create-role}"
			th:object="${role}" class="form-horizontal">
			<div class="box-body">
				<div th:if="${isOk=='true'}" class="alert alert-success">Role
					created successfully.</div>
				<div th:if="${isOk=='false'}" class="alert alert-danger">Sorry,
					the role creation went wrong. Possibly, the role already exists.</div>
				<div class="form-group">
					<label for="role" class="col-sm-2 control-label">Please
						enter role name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="role"
							th:field="*{authority}" placeholder="ROLE_ROLENAME">
					</div>
				</div>
			</div>
			<!-- /.box-body -->
			<div class="box-footer">
				<button type="submit" class="btn btn-info pull-right">Create</button>
			</div>
			<!-- /.box-footer -->
		</form>
	</div>

</th:block>

<!-- End of createRole -->



<!-- Start of set-terms-and-conditions -->

<th:block th:fragment="postNewIdea(categories='', idea='')">
	<div class="form-group">
		<label for="inputIdeaTitle">Idea Title</label> <input type="text"
			name="ideaTitle" class="form-control" id="inputIdeaTitle"
			placeholder="Idea Title" th:field="*{ideaTitle}" required />
	</div>
	<div class="form-group">
		<label for="inputIdeaBody">Idea Body</label>
		<textarea id="inputIdeaBody" name="ideaBody" class="form-control"
			th:field="*{ideaBody}" placeholder="Idea Body" required></textarea>
	</div>

	<div class="form-group">
		<label>Categories</label> <select name="tagName"
			class="form-control select2" style="width: 100%;">
			<option th:each="cat : ${categories}" th:value="${cat.tagName}"
				th:text="${cat.tagName}"></option>
		</select>

	</div>

	<input type="hidden" name="publishingDateTime"
		th:value="${#dates.format(#dates.createNow(), 'dd-MM-yyyy HH:mm:ss')}" />

	<div class="form-group">
		<label for="images">Upload Documents: </label> <input type="file"
			id="images" name="images[]" multiple="multiple" />
	</div>
	<div class="row">
		<div class="form-group col-sm-2 col-lg-2 col-xl-2 col-md-2 col-xs-2">
			<a onclick="showTermsAndConditions();"
				class="btn btn-block btn-primary">Post</a>
		</div>
	</div>



	<!--/*/ <th:block th:include="@{includes/components} :: modal"></th:block> /*/-->



	<script type="text/javascript">
	    CKEDITOR.replace( 'inputIdeaBody',{ 
		    toolbar: [
			    {
				    name: 'styles', 
				    items: [ 'Styles', 'Format', 'Font', 'FontSize' ] 
			    },
			    { 
				    name: 'basicstyles', 
				    groups: [ 'basicstyles', 'cleanup' ], 
				    items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat' ]
			     },
			     { 
				     name: 'links',
				     items: [ 'Link', 'Unlink', 'Anchor' ]
			     },
			     { 
				     name: 'colors', 
				     items: [ 'TextColor'] 
			     },
			     { 
				     name: 'paragraph', 
				     groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] 
			     },
			     { 
				     name: 'links' 
			     },
			 	 { 
				 	 name: 'insert' 
			 	 }
			    ]
	    } );
	    

	    
	    function showTermsAndConditions(){
	    	$('#myModal').modal({backdrop: 'static', keyboard: false});
	    	$(".modal-body").load("/ewsd/terms-and-conditions");
	    }
	</script>
</th:block>

<!-- End of set terms and conditions -->



<!-- Modal -->
<th:block th:fragment="modal">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a> <input
						type="submit" class="btn btn-primary" value="Agree">
				</div>
			</div>
		</div>
	</div>
</th:block>
<!-- End Modal -->


<!-- Start of /student/post-new-idea -->

<div class="tab-pane" id="post-an-idea">
																		<div class="row" >
										<div class="col-xs-12 col-xl-12 col-md-12 col-lg-12 col-sm-12">
											<form method="post" enctype="multipart/form-data"
												action="/student/post-new-idea"
												th:action="@{/student/post-new-idea}" th:object="${idea}">
												<div th:if="${isOk=='true'}" class="alert alert-success"
													th:text="${msg}"></div>
												<div th:if="${isOk==''}" class="alert alert-success"
													th:text="${msg}"></div>
												<!--/*/ <th:block th:include="@{includes/components} :: postNewIdea(${categories}, ${idea})"></th:block> /*/-->
											</form>
										</div>
									</div>

								</div>



<!-- End of /student/post-new-idea -->
<!-- Start of createTag -->

<th:block th:fragment="createTag(isOk='', tag='')">
	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">Create Tag</h3>
		</div>
		<!-- /.box-header -->
		<!-- form start -->
		<form method="POST" th:action="@{/admin/create-tag}"
			th:object="${tag}" class="form-horizontal">
			<div class="box-body" style="margin-left: 7%">
				<div th:if="${isOk=='true'}" class="alert alert-success">Tag
					created successfully.</div>
				<div th:if="${isOk=='false'}" class="alert alert-danger">Sorry,
					the tag creation went wrong. Possibly, the tag already exists.</div>
				<div class="row">
					<div class="form-group">
						<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4 ">
							<label for="tag" class="control-label">Please enter tag
								name</label>
						</div>
						<div class="col-sm-7 col-xs-7 col-md-7 col-lg-7 col-xl-7">
							<input type="text" class="form-control" id="tag"
								th:field="*{tagName}" placeholder="Tag">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4 ">
							<label for="opening-date" class="control-label">Opening
								Date</label>
						</div>
						<div class="col-sm-7 col-xs-7 col-md-7 col-lg-7 col-xl-7">
							<input type="text" class="form-control" id="opening-date"
								name="opening-date" placeholder="DD/MM/YYYY"required/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4 ">
							<label for="closure-date" class="control-label">Closure
								Date</label>
						</div>
						<div class="col-sm-7 col-xs-7 col-md-7 col-lg-7 col-xl-7">
							<input type="text" class="form-control" id="closure-date"
								name="closure-date" placeholder="DD/MM/YYYY"required/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group">
						<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4 ">
							<label for="final-closure-date" class="control-label">Final Closure
								Date</label>
						</div>
						<div class="col-sm-7 col-xs-7 col-md-7 col-lg-7 col-xl-7">
							<input type="text" class="form-control" id="final-closure-date"
								name="final-closure-date" placeholder="DD/MM/YYYY" required/>
						</div>
					</div>
				</div>
				<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
				<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
				<script>
var dateToday = new Date();
var dates = $("#opening-date, #closure-date, #final-closure-date").datepicker({
    // defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    minDate: dateToday,
    dateFormat: "d/m/yy",
    onSelect: function(selectedDate) {
        var option = this.id == "from" ? "minDate" : "maxDate",
            instance = $(this).data("datepicker"),
            date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
        dates.not(this).datepicker("option", option, date);
    }
});
</script>
			</div>
			<!-- /.box-body -->
			<div class="box-footer">
				<button type="submit" class="btn btn-info pull-right">Create</button>
			</div>
			<!-- /.box-footer -->
		</form>
	</div>

</th:block>

<!-- End of createTag -->





<!-- Start of listAllRoles -->

<th:block th:fragment="listAllRoles(roles='')">
	<div class="box">
		<div class="box-header">
			<h4 class="box-title">All Roles</h4>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div id="example2_wrapper"
				class="dataTables_wrapper form-inline dt-bootstrap">
				<div class="row">
					<div class="col-sm-6"></div>
					<div class="col-sm-6"></div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table id="example2"
							class="table table-bordered table-hover dataTable" role="grid"
							aria-describedby="example2_info">
							<thead>
								<tr role="row">

									<th class="sorting" tabindex="0" aria-controls="example2"
										rowspan="1" colspan="1"
										aria-label="Browser: activate to sort column ascending">No</th>

									<th class="sorting" tabindex="0" aria-controls="example2"
										rowspan="1" colspan="1"
										aria-label="Platform(s): activate to sort column ascending">Role
										Name</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="role,iterationStatus  : ${roles}">
									<tr role="row" class="odd">
										<td th:text="${iterationStatus.count}"></td>
										<td th:text=${role.authority}></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</th:block>

<!-- End of listAllRoles -->


<!-- Start of listAllTags -->

<th:block th:fragment="listAllTags(tags='')">
	<div class="box">
		<div class="box-header">
			<h4 class="box-title">All Tags</h4>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div id="example2_wrapper"
				class="dataTables_wrapper form-inline dt-bootstrap">
				<div class="row">
					<div class="col-sm-6"></div>
					<div class="col-sm-6"></div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table id="example2"
							class="table table-bordered table-hover dataTable" role="grid"
							aria-describedby="example2_info">
							<thead>
								<tr role="row">

									<th class="sorting" tabindex="0" aria-controls="example2"
										rowspan="1" colspan="1"
										aria-label="Browser: activate to sort column ascending">No</th>

									<th class="sorting" tabindex="0" aria-controls="example2"
										rowspan="1" colspan="1"
										aria-label="Platform(s): activate to sort column ascending">Tag
										Name</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="tag,iterationStatus  : ${tags}">
									<tr role="row" class="odd">
										<td th:text="${iterationStatus.count}"></td>
										<td th:text=${tag.tagName}></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</th:block>

<!-- End of listAllRoles -->


<!--/*/ <th:block th:include="@{includes/components} :: js_components_bottom"></th:block> /*/-->

</html>