<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="templates/includes/components :: components"></th:block> /*/-->
    <!--/*/ <th:block th:include="templates/includes/header :: header('', ${username})"></th:block> /*/-->
    <link th:href="@{/resources/contents/css/header.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>dashboard</title>

</head>
<body>

</body>
</html>