<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<!-- Head start -->

<!--/*/ <th:block th:insert="@{includes/includes} :: head"></th:block> /*/-->

<!-- Head end -->



<body class="hold-transition skin-blue sidebar-mini">
	<div class="" style="background-color: #222d32;">

		<div id="main-header"></div>
		<script type="text/javascript">
			$("#main-header").load("/main-header");
		</script>

		<!-- Left side column. contains the logo and sidebar -->



		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				Sidebar user panel
				<div class="user-panel">
					<div class="pull-left image">
						<img th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
							class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p th:text="${usr.name}"></p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>

				<!-- 				/.search form sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu" data-widget="tree">


					<li class="header">MAIN NAVIGATION</li>



					<li class=" "><a th:href="@{/qa_coordinator/dashboard}"> <i
							class="fa fa-dashboard"></i> <span>Home</span>
					</a></li>
					<li class="active"><a
						th:href="@{/qa_coordinator/ideas/my-department}"> <i
							class="fa fa-files-o"></i> <span>All Ideas</span>
					</a></li>
					<li><a th:href="@{/qa_coordinator/submit-issue}"> <i
							class="fa fa-files-o"></i> <span>Submit an issue</span>
					</a></li>
					<li><a th:href="@{/qa_coordinator/view-all-issues}"> <i
							class="fa fa-files-o"></i> <span>View all issues</span>
					</a></li>

				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					QA <small>Board</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i>All Ideas</a></li>
					<li class="active">My Department</li>
				</ol>
			</section>


			<!-- Main content -->



			<section class="content">
				<div class="row">

					<!-- /.col -->
					<div class="col-md-12">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">

								<li class="active"><a
									th:href="@{/qa_coordinator/ideas/my-department}">My
										Department</a></li>
								<li><a th:href="@{/qa_coordinator/ideas/staff-ideas}">Staff</a></li>
							</ul>
							<div class="tab-content">

								<!-- /.tab-pane -->
								<div class="active tab-pane" id="timeline">
									<th:block th:if="${dates.empty}">
										<h1>Nothing to show!</h1>
									</th:block>

									<!-- The timeline -->
									<th:block th:each="date : ${dates}">
										<ul class="timeline timeline-inverse">
											<!-- timeline time label -->
											<li class="time-label"><span class="bg-red"
												th:text="${date.key}"> </span></li>
											<!-- /.timeline-label -->
											<!-- timeline item -->
											<th:block th:each="timeline : ${date.value}">

												<li>


													<div class="timeline-item post">
														<span class="time" th:text=" ${timeline.time}"><i
															class="fa fa-clock-o"></i> </span>

														<h3 class="timeline-header">
															<a
																th:href="@{/profile(id=${timeline.postedBy.username})}"
																th:text="${timeline.postedBy.name}"></a> Posted
														</h3>

														<div class="timeline-body">
															<h3 th:text="${timeline.idea.ideaTitle}"></h3>
															<p th:utext="${timeline.idea.ideaBody}"></p>
															<p>
																<span>Category: </span>&nbsp; <span
																	class="label label-danger"
																	th:text="${timeline.idea.tag.tagName}"></span>
															</p>
														</div>
														<div class="timeline-footer">



															<ul class="list-inline">
																<li><b><a class="link-black text-sm"
																		th:text="${'View full post'}"
																		th:href="@{'/ideas/'+${timeline.idea.ideaId}}"> </a></b></li>
																<th:block>|
																	<li><span th:text="${timeline.totalThumbUp}"
																		th:id="'idea_'+${timeline.idea.ideaId}+'_thumbup_count'"></span></li>
																	<li><a href="#" onclick="onThumbUpClick(this)"
																		th:id="'thumb-up_'+${timeline.idea.ideaId}"
																		th:attr="data-pid=${timeline.idea.ideaId},
																		 data-total-tup=${timeline.totalThumbUp},
																		  data-user=${usr.username}, 
																		  data-reactionOfCurrentUser=${timeline.reactionOfCurrentUser}"
																		class="link-black text-sm"><i
																			class="fa fa-thumbs-o-up margin-r-5"></i> Thumb up</a></li>
																</th:block>
																<th:block>|
																	<li><span th:text="${timeline.totalThumbDown}"
																		th:id="'idea_'+${timeline.idea.ideaId}+'_thumbdown_count'"></span></li>
																	<li><a href="#" onclick="onThumbDownClick(this)"
																		th:id="'thumb-down_'+${timeline.idea.ideaId}"
																		th:attr="data-pid=${timeline.idea.ideaId}, 
																		 data-total-tdown=${timeline.totalThumbDown},
																		 data-user=${usr.username}, 
																		 data-reactionOfCurrentUser=${timeline.reactionOfCurrentUser}"
																		class="link-black text-sm"><i
																			class="fa fa-thumbs-o-down margin-r-5"></i> Thumb
																			down</a> <script type="text/javascript"
																			th:inline="javascript">
																			/*<![CDATA[*/
																		    var ideaId = /*[[${timeline.idea.ideaId}]]*/;
																			var reactionOfCurrentUser = /*[[${timeline.reactionOfCurrentUser}]]*/;
																			/*]]>*/
																			
																			if(reactionOfCurrentUser==0){
																				document.querySelector("#thumb-up_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-down_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-up_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-up margin-r-5");
																				document.querySelector("#thumb-down_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-down margin-r-5");
																			}else if(reactionOfCurrentUser==1){
																				document.querySelector("#thumb-up_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-down_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-up_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-up margin-r-5");
																				document.querySelector("#thumb-down_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-down margin-r-5");
																			}else if(reactionOfCurrentUser==2){
																				document.querySelector("#thumb-up_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-down_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-up_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-up margin-r-5");
																				document.querySelector("#thumb-down_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-down margin-r-5");
																			}

																			function onThumbUpClick(element){
																				console.log($(element).attr("data-pid"));
																				reactionOfCurrentUser = $(element).attr("data-reactionofcurrentuser");
																				
																				ideaId =$(element).attr("data-pid");
																				var uid=$(element).attr("data-user");
																				console.log("Idea ID = "+ideaId+"; Reaction Type = "+reactionOfCurrentUser);
																				var totalThumbsUp = $(element).attr("data-total-tup");
																				$("idea_"+ideaId+"_thumbup_count").text(totalThumbsUp);
																				
																				if(reactionOfCurrentUser!=1){
																					$("#idea_"+ideaId+"_thumbup_count").html(parseInt($("#idea_"+ideaId+"_thumbup_count").text())+1);
																					$("#thumb-up_"+ideaId+" > i").attr("class", "fa fa-thumbs-up margin-r-5");
																					if(reactionOfCurrentUser==2){
																						$("#idea_"+ideaId+"_thumbdown_count").html(parseInt($("#idea_"+ideaId+"_thumbdown_count").text())-1);
																						$("#thumb-down_"+ideaId+" > i").attr("class", "fa fa-thumbs-o-down margin-r-5");
																					}
																					document.querySelector("#thumb-up_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-up_"+ideaId).setAttribute("data-reactionofcurrentuser", "1");
																					document.querySelector("#thumb-down_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-down_"+ideaId).setAttribute("data-reactionofcurrentuser", "1");
																				}
																				$.ajax({
																					  type: "GET",
																					  url: "/qa_coordinator/ideas/"+ideaId+"/reactions?uid="+uid+"&reactionType=1",
																				});
																		
																			}


																			function onThumbDownClick(element){
																				console.log($(element).attr("data-pid"));
																				reactionOfCurrentUser = $(element).attr("data-reactionOfCurrentUser");

																				ideaId =$(element).attr("data-pid");
																				var uid=$(element).attr("data-user");
																				console.log("Idea ID = "+ideaId+"; Reaction Type = "+reactionOfCurrentUser);
																				var totalThumbsDown = $(element).attr("data-total-tdown");
																				$("idea_"+ideaId+"_thumbdown_count").text(totalThumbsDown);
																				if(reactionOfCurrentUser!=2){
																					$("#idea_"+ideaId+"_thumbdown_count").html(parseInt($("#idea_"+ideaId+"_thumbdown_count").text())+1);
																					$("#thumb-down_"+ideaId+" > i").attr("class", "fa fa-thumbs-down margin-r-5");
																					if(reactionOfCurrentUser==1){
																						$("#idea_"+ideaId+"_thumbup_count").html(parseInt($("#idea_"+ideaId+"_thumbup_count").text())-1);
																						$("#thumb-up_"+ideaId+" > i").attr("class", "fa fa-thumbs-o-up margin-r-5");
																					}
																					document.querySelector("#thumb-up_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-up_"+ideaId).setAttribute("data-reactionofcurrentuser", "2");
																					document.querySelector("#thumb-down_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-down_"+ideaId).setAttribute("data-reactionofcurrentuser", "2");
// 																					
																				}
																				$.ajax({
																					  type: "GET",
																					  url: "/qa_coordinator/ideas/"+ideaId+"/reactions?uid="+uid+"&reactionType=2",
																				});
																		
																			}
																			</script></li>
																</th:block>
																<br>
																<li>&nbsp;<a class="link-black text-sm"
																	th:text="${'Views'}"
																	href=""> </a></li>
																<li>&nbsp;<span
																	th:text="${timeline.idea.countViews}"></span>
																</li> |
																<li><a class="link-black text-sm"
																	th:text="${'Seen By'}"
																	href="#"> </a></li>
																<li>&nbsp;<span
																	th:text="${#lists.size(timeline.idea.seenBy)}"></span>&nbsp;
																</li>
																<li class="pull-right"><a href="#"
																	class="link-black text-sm"><i
																		class="fa fa-comments-o margin-r-5"></i> <span
																		th:text="${'Comments ('+timeline.totalComments+')'}"></span></a></li>
															</ul>
															<hr>

															<div class="box-body chat"
																th:id="'load-comments_'+${timeline.idea.ideaId}">
																<th:block th:each="comment : ${timeline.idea.comments}">
																	<th:block th:if="${comment.isAnonymous} == false ">
																		<div class="item">
																			<img
																				th:src="@{/file/(fileId=${comment.commentedUser.userImage.attachmentId})}"
																				alt="user image" class="offline">
																			<p class="message">
																				<a
																					th:href="@{/profile(id=${comment.commentedUser.username})}"
																					class="name"> <small
																					class="text-muted pull-right"><i
																						class="fa fa-clock-o"></i> <span
																						th:text="${#dates.format(comment.commentDateTime.time, 'dd-MM-yyyy hh:mm:ss aaa')}"></span></small>
																					<span th:text="${comment.commentedUser.name}"></span>
																				</a> <span th:text="${comment.commentBody}"></span>
																			</p>
																		</div>
																	</th:block>

																	<th:block th:if="${comment.isAnonymous} == true ">
																		<div class="item">
																			<img
																				th:src="@{/resources/contents/lib/img/anonymous.jpg}"
																				alt="user image" class="offline">

																			<p class="message">
																				<a href="#" class="name"> <small
																					class="text-muted pull-right"><i
																						class="fa fa-clock-o"></i> <span
																						th:text="${#dates.format(comment.commentDateTime.time, 'dd-MM-yyyy hh:mm:ss aaa')}"></span></small>
																					<span th:text="${'Anonymous User'}"></span>
																				</a> <span th:text="${comment.commentBody}"></span>
																			</p>
																		</div>
																	</th:block>
																	<hr>
																</th:block>
															</div>

															<th:block th:if="${timeline.tagExpired} == false ">
																<div>
																	<input class="form-control input-sm"
																		th:id="'input-comment_'+${timeline.idea.ideaId}"
																		type="text" placeholder="Type a comment"
																		onkeypress="onCommentPost(event, this)"> <br>
																	<input type="checkbox"
																		th:id="'anonymous-comment_'+${timeline.idea.ideaId}">
																	&nbsp;&nbsp;Comment as anonymous <input
																		class="pull-right btn btn-primary btn-sm btn-flat"
																		type="submit" value="Comment"
																		th:id="'button-submit_'+${timeline.idea.ideaId}" />

																</div>


																<div class="modal modal-danger fade" id="modal-danger">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h4 class="modal-title">Ops!</h4>
																			</div>
																			<div class="modal-body">
																				<p>Sorry, the final closure date for this
																					category has timed out.</p>
																			</div>
																			<div class="modal-footer">

																				<button type="button"
																					th:id="'modal-ok_'+${timeline.idea.ideaId}"
																					class="btn btn-outline">Ok</button>
																			</div>
																		</div>
																		<!-- /.modal-content -->
																	</div>
																	<!-- /.modal-dialog -->
																</div>


																<br>

																<script type="text/javascript" th:inline="javascript">
																
																function onCommentPost(e, commentBox){
																	var code = (e.keyCode ? e.keyCode : e.which);
																	if(code == 13) { //Enter keycode
																		var ideaId = $(commentBox).attr("id").split("_")[1];
																		var uid = /*[[${usr.username}]]*/;
																		var idea = /*[[${timeline.idea}]]*/;
																		var comment = {};
																		comment["commentId"] = new Date().getTime();
																		comment["idea"] = idea;
																		comment["commentDateTime"] = new Date().getTime();
																		comment["isAnonymous"] = $("#anonymous-comment_"+ideaId).prop("checked") ? true : false;
																		comment["commentedUser"] = /*[[${usr}]]*/;
																		comment["commentBody"] = $(commentBox).val();
																	 	console.log("#anonymous-comment_"+ideaId);
																		var url = "";
																		if($("#anonymous-comment_"+ideaId).prop("checked")==true){
																			url = "/qa_coordinator/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=true";
																		}else{
																			url = "/qa_coordinator/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=false";
																		}
																	 	$.ajax({
																             type: "POST",
																             contentType: "application/json",
																             url: url,
																             data: JSON.stringify(comment),
																             dataType: 'json',
																             timeout: 600000,
																             success: function (data) {
																                 console.log("Success");
																                 $(commentBox).val("");
																                 location.reload();
																             },
																             error: function (e) {
																                 console.log("Error : "+e.status);
																                 console.log(e);
																                 if(e.status==406){
																					$("#modal-ok_"+ideaId).click(function(){
																						location.reload();
																					});
																                 }
																             }
																	});
																		
																	}
																}

																var ideaId = /*[[${timeline.idea.ideaId}]]*/;
																
																$("#button-submit_"+ideaId).click(function(){
																	ideaId = /*[[${timeline.idea.ideaId}]]*/;
																	var uid = /*[[${usr.username}]]*/;
																	var idea = /*[[${timeline.idea}]]*/;
																	var comment = {};
																	comment["commentId"] = new Date().getTime();
																	comment["idea"] = idea;
																	comment["commentDateTime"] = new Date().getTime();
																	comment["isAnonymous"] = $("#anonymous-comment_"+ideaId).prop("checked") ? true : false;
																	comment["commentedUser"] = /*[[${usr}]]*/;
																	comment["commentBody"] = $("#input-comment_"+ideaId).val();
																 	console.log(comment);
																	var url = "";
																	if($("#anonymous-comment_"+ideaId).prop("checked")==true){
																		url = "/qa_coordinator/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=true";
																	}else{
																		url = "/qa_coordinator/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=false";
																	}
																 	$.ajax({
															             type: "POST",
															             contentType: "application/json",
															             url: url,
															             data: JSON.stringify(comment),
															             timeout: 600000,
															             success: function (data) {
															                 console.log("Success");
															                 console.log(data);
															                 $("#input-comment_"+ideaId).val("");
															                 location.reload();
															             },
															             error: function (e) {
															                 console.log("Error : "+e.status);
															                 console.log(e);
															                 if(e.status==406){
																				$("#modal-ok_"+ideaId).click(function(){
																					location.reload();
																				});
															                 }
															             }
																	});
																});
																	
																</script>
															</th:block>
														</div>
													</div>

												</li>
											</th:block>
											<!-- END timeline item -->

										</ul>
									</th:block>

								</div>
								<!-- /.tab-pane -->

								<!-- 								<div class="box-tools pull-right"> -->
								<!-- 									<ul class="pagination pagination-sm inline"> -->
								<!-- 										<li><a href="#">«</a></li> -->
								<!-- 										<li><a href="#">1</a></li> -->
								<!-- 										<li><a href="#">2</a></li> -->
								<!-- 										<li><a href="#">3</a></li> -->
								<!-- 										<li><a href="#">»</a></li> -->
								<!-- 									</ul> -->
								<!-- 								</div> -->

							</div>
							<!-- /.tab-content -->
						</div>

						<!-- Pagination -->

						<div class="box-tools pull-right">
							<ul class="pagination pagination-sm inline">
								<th:block th:if="${(currentPage-1)>0}">
									<li><a
										th:href="@{/qa_coordinator/ideas/my-department(page=${currentPage-1})}"
										th:text="${'&laquo;'}"></a></li>
									<li><a
										th:href="@{/qa_coordinator/ideas/my-department(page=${currentPage-1})}"
										th:text="${currentPage-1}"></a></li>
								</th:block>
								<li class="active"><a
									th:href="@{/qa_coordinator/ideas/my-department(page=${currentPage})}"
									th:text="${currentPage}"></a></li>

								<th:block th:unless="${currentPage>pages}">
									<li><a
										th:href="@{/qa_coordinator/ideas/my-department(page=${currentPage+1})}"
										th:text="${currentPage+1}"></a></li>
									<li><a
										th:href="@{/qa_coordinator/ideas/my-department(page=${currentPage+1})}"
										th:text="${'&raquo;'}"></a></li>
								</th:block>
							</ul>
						</div>

						<!-- ./Pagination -->
						<!-- /.nav-tabs-custom -->
					</div>
					<!-- /.col -->
				</div>

			</section>

			<!-- /.Ending Main content -->




		</div>
		<div id="footer"></div>
		<script type="text/javascript">
			$("#footer").load("/footer");
		</script>

		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<!--/*/ <th:block th:insert="@{includes/includes} :: js_components_bottom"></th:block> /*/-->
</body>
</html>
