<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="templates/includes/components :: components"></th:block> /*/-->
    <!--/*/ <th:block th:include="templates/includes/header :: header(${potentialTeachers.size()}, ${username})"></th:block> /*/-->

    <meta charset="UTF-8">
    <title>dashboard</title>

</head>
<body>

</body>
</html>