<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <!--/*/ <th:block th:include="templates/includes/components :: components"></th:block> /*/-->
    <link th:href="@{/resources/contents/css/docs.min.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Potential teachers</title>

</head>
<body>
<!--/*/ <th:block th:include="templates/includes/header :: header(${potentialTeachers.size()}, ${username})"></th:block> /*/-->
<div class="container">
    <th:block th:each="teacher : ${potentialTeachers}">
        <div class="row bd-callout bd-callout-info">
            <div class="col-lg">
                <p><a th:href="@{/admin/teacher-profile/{id}(id=${teacher.id}, action='')}"><span th:text="${teacher.name}"></span></a> requires approval as a teacher.</p>
                <a th:href="@{/admin/teacher-profile/{id}(id=${teacher.id},action='approve')}">Approve</a>
                &nbsp;&nbsp;
                <a th:href="@{/admin/teacher-profile/{id}(id=${teacher.id},action='delete')}">Cancel</a>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>